# **Introducción a la programación estructurada con Python: Conceptos básicos**

## **Operaciones básicas de E/S**

La función **print** nos permite mostrar en la salida estándar (habitualmente la consola) el mensaje que le pasemos como argumento entre paréntesis.

In [9]:
print("Hola mundo")

Hola mundo

La función **input** recibe una cadena de texto (str) desde la entrada estándar y puede mostrar un mensaje que recibe entre comillas al usuario:

In [1]:
nombre = input("Introduzca su nombre: ")
print("Hola, ", nombre)

Introduzca su nombre: Julia
Hola,  Julia

## **Comentarios**

Los comentarios nos sirven para aclarar la función de determinadas partes
de nuestro código. Se pueden insertar de diversos modos y son obviados por el intérprete de python, es decir, ejecuta el código como si no existieran.

In [1]:
# Un comentario de una línea comienza por el símbolo '#' 
print('Solo imprimo el mensaje, el resto se obvia') # todo lo situado a la derecha no es interpretado como código por

Solo imprimo el mensaje, el resto se obvia

In [8]:
'''
  Si quiero incorporar comentarios que cubran varias líneas
  utilizo tres comillas simples (o dobles) para delimitar el inicio del comentario
  y otras tres para indicar su fin. También sirven para crear un mensaje multilínea
'''
print('''         mensaje
         que va a ocupar 
         varias líneas
      ''')


# Incorporar comentarios puede ayudar a proporcionar claridad a nuestro código, !pero no abuses!

         mensaje
         que va a ocupar
         varias líneas

## **Variables**:


Para almacenar información en un programa (p.ej.: la edad de una persona, la temperatura, el nombre, etc.) utilizamos las variables. 
Existen diferentes tipos básicos, entre ellos:


1.   **int**: para valores numéricos enteros
2.   **string**: para cadenas de texto
3.   **float**: para valores numéricos con decimales
4.   **bool**: para variables que almacenan información del tipo Verdadero/Falso 


 **Nombre de variables**:

Las variables en Python solo incluyen letras (a-z, A-B), números y guión bajo ( _ ), no pudiendo empezar por un número. Valores válidos son: _usuario, usuario_1, usuario1, pero no 1usuario_.

El nombre de las variables es sensible a mayúsculas, es decir, `edad` y `Edad` son dos variables diferentes.

Tampoco podemos utilizar palabras reservadas del lenguaje (son unas palabras tabú que no se pueden usar) tales como print, input, if, for, entre otros.

In [14]:
edad = 15
nombre = "Antonio"
peso = 63.5
mayorEdad = False
sinInformacion = None;

print(edad, type(edad))
print(nombre, type(nombre))
print(peso, type(peso))
print(mayorEdad, type(mayorEdad))
print(sinInformacion, type(sinInformacion))

15 <class 'int'>
Antonio <class 'str'>
63.5 <class 'float'>
False <class 'bool'>
None <class 'NoneType'>

In [ ]:
# CamelCase ==> más habitual en mundo Java
edadPersona = 18
tipoSoftware = 'Libre'

# Convenio separación guiones ==> más habitual en mundo Python
edad_persona = 18
tipo_software = 'Libre'

### **Conversión (casting)**
Cuando estamos trabajando con variables de diferentes tipos (string, int, float) podemos realizar conversiones de un tipo a otro. 

Por ejemplo, si tenemos un valor numérico (33) lo podemos convertir a cadena y a la inversa, pero una cadena de texto ('hola') no podremos convertirla a valor numérico y el intérprete nos lanzará un error.

En programación, esta operación de conversión de tipos se denomina casting y es habitual en la mayoría de los lenguajes de programación.
Cuando los tipos son afines (números, la conversión en ocasiones de entero a decimal) es automática, no requiere nuestra intervención, pero cuando es de otros tipos (string a int), necesita una llamada explícita.

In [23]:
anyo_nacimiento = int(input('Introduce tu año de nacimiento: '))
print('Tu edad en el año 2050 será de %s años'%(2050-anyo_nacimiento))

# Si en lugar de int(input()) utilizáramos solo input(), la operación de resta 
# nos daría error porque estamos trabajando con números y cadenas

anyo_nacimiento = input('Introduce tu año de nacimiento: ')
print('Tu edad en el año 2050 será de %s años'%(2050-anyo_nacimiento))

Introduce tu año de nacimiento: 2000
Tu edad en el año 2050 será de 50 años
Introduce tu año de nacimiento: 2000

TypeError: ignored

## **Operadores**

### **1. Operadores aritméticos**

Son operadores que realizan una operación matemática sobre dos valores numéricos y devuelven como resultado otro número. Por ejemplo, con el operador suma (`+`) y los números 2 y 3 tendríamos como resultado:
 `2 + 3 = 5`

 * **suma**: +
 * **resta**: -
 * **división**: /
 * **división entera**: //
 * **módulo**: %  (devuelve el resto de la división entera de dos números)
 * **multiplicación**: *
 * **potencia**: **

In [8]:
num_1, num_2 = 3, 2
num_dec_1, num_dec_2 = 3.1, 2.8

# suma de números enteros
print(num_1 + num_2)

# suma de números decimales
print(num_dec_1 + num_dec_2)

# suma de entero y decimal
print(num_1 + num_dec_1)

5
5.9
6.1

In [9]:
# resta de números enteros
print(num_1 - num_2)

# resta de números decimales
print(num_dec_1 - num_dec_2)

# resta de entero y decimal
print(num_1 - num_dec_1)

1
0.30000000000000027
-0.10000000000000009

In [11]:
# división de números enteros
print(num_1 / num_2)

# división de números decimales
print(num_dec_1 / num_dec_2)

# división de entero y decimal
print(num_1 / num_dec_1)

1.5
1.1071428571428572
0.9677419354838709

In [12]:
# división entera de números enteros
print(num_1 // num_2)

# división entera de números decimales
print(num_dec_1 // num_dec_2)

# división entera de entero y decimal
print(num_1 // num_dec_1)

1
1.0
0.0

In [13]:
# operador módulo 
print(15%3)  # 3 * 5 = 15 por lo que el resto de la división es 0
print(15%4)  # 4 * 3 = 12 por lo que el resto de la división es 3

0
3

In [14]:
# multiplicación de números enteros
print(num_1 * num_2)

# multiplicación de números decimales
print(num_dec_1 * num_dec_2)

# multiplicación de entero y decimal
print(num_1 * num_dec_1)

6
8.68
9.3

In [16]:
# operador potencia
print(3**2)   # 3 elevado al cuadrado
print(2**10)  # 2 elevado a 10
print(2**0.5) # raíz cuadrada de 2

9
1024
1.4142135623730951

### **2. Operadores lógicos**
Estos operadores trabajan sobre variables o valores de tipo booleanos. Estas expresiones sólo pueden tener dos valores, cierto y falso (True, False). 

Habitualmente se utilizan tres tipos:
* **and**: devuelve cierto si las dos expresiones que une son ciertas; falso en caso contrario. Tiene prioridad sobre or.
* **or**: devuelve cierto si una cualquiera de las expresiones que une es cierta; si ninguna lo es, devuelve falso. 
* **not**: niega o devuelve lo contrario de lo que recibe. Tiene prioridad sobre or.

In [18]:
llueve = True
hace_frio = True
es_invierno = llueve and hace_frio
es_invierno

True

In [19]:
guardar_paraguas = not(llueve)
guardar_paraguas

False

In [20]:
coger_chaqueta = llueve or hace_frio
coger_chaqueta

True

In [21]:
es_primavera = llueve and not(hace_frio)
es_primavera

False

### **3. Comparadores**

* **<** menor estricto: devuelve cierto si el primer valor es menor que el segundo.

* **<=** menor o igual: devuelve cierto si el primer valor es menor o igual que el segundo.

* **>** mayor estricto: devuelve cierto si el primer valor es mayor que el segundo.

* **>=** mayor o igual: devuelve cierto si el primer valor es mayor o igual que el segundo.

* **==** igual: devuelve cierto si los dos valores son iguales

* **!=** diferente: compara dos valores y si son distintos devuelve True.

In [41]:
print('3 < 5:', 3 < 5, '\t  3 < 2:', 3 < 2, '\t  3 < 3:', 3 < 3)

print('3 <= 5:', 3 <= 5, '\t  3 <= 2:', 3 <= 2, '  3 <= 3:', 3 <= 3)

print('4 > 5:', 4 > 5, '\t  4 > 2:', 4 > 2, '\t  4 > 4:', 4 > 4)

print('4 >= 5:', 4 >= 5, '\t  4 >= 2:', 4 >= 2, '   4 >= 4:', 4 >= 4)

print('3==3: ', 3==3, '\t  3!=3: ', 3!=3)
print('1==3: ', 1==3, '\t  1!=3: ', 1!=3)

3 < 5: True 	  3 < 2: False 	  3 < 3: False
3 <= 5: True 	  3 <= 2: False   3 <= 3: True
4 > 5: False 	  4 > 2: True 	  4 > 4: False
4 >= 5: False 	  4 >= 2: True    4 >= 4: True
3==3:  True 	  3!=3:  False
1==3:  False 	  1!=3:  True

## **Operaciones con cadenas**

1. **Concatenación**: utilizando el operador + (como el de la suma), podemos concatenar, es decir, unir, cadenas de texto.

2. **Concatenación automática**: si en una misma línea tenemos varias cadenas de texto entrecomilladas sin separar, automáticamente se unen.

3. **Multiplicación**: usando el operador * podemos generar varias copias de la misma cadena de texto.

In [25]:
nombre = "Enriqueta "
apellido1 = "Gómez "
apellido2 = "Jacarandá "

nombreCompleto = nombre + apellido1 + apellido2
print(nombreCompleto)

Enriqueta Gómez Jacarandá

In [23]:
fullName = 'Enriqueta ' 'Sánchez ' 'Gonzálvez'
print(fullName)

Enriqueta Sánchez Gonzálvez

In [26]:
print(nombreCompleto * 5)

Enriqueta Gómez Jacarandá Enriqueta Gómez Jacarandá Enriqueta Gómez Jacarandá Enriqueta Gómez Jacarandá Enriqueta Gómez Jacarandá

### **Parametrización de cadenas**
Cuando trabajamos con cadenas podemos parametrizar los mensajes de forma que si queremos variar el contenido nos resulte más sencillo.

Por ejemplo, si queremos mostrar un mensaje para cada época del año y como la estación y la temperatura cambián de verano a invierno y de valor numérico, podemos cambiar las variables y el mensaje se adaptará automáticamente.

La estructura es 

`'cadena con %s como valor a sustituir" % (valores, ...)`

In [20]:
estacion = 'verano'
temperatura_media = 39.456789
print ("La temperatura media este %s ha sido de %sºC." %(estacion, temperatura_media))

estacion = 'invierno'
temperatura_media = 5.03
print ("La temperatura media este %s ha sido de %sºC." %(estacion, temperatura_media))

La temperatura media este verano ha sido de 39.456789ºC.
La temperatura media este invierno ha sido de 5.03ºC.

También podemos utilizar 

`'cadena con {} como valor a sustituir".format(valores, ...)`

indicando también las posiciones decimales a imprimir o incluso el orden de los parámetros en la impresión.

In [21]:
print ("La temperatura media este {} ha sido de {}ºC.".format(estacion, temperatura_media))

print ("La temperatura media este {1} ha sido de {0}ºC.".format(temperatura_media, estacion))

La temperatura media este invierno ha sido de 5.03ºC.
La temperatura media este invierno ha sido de 5.03ºC.

In [19]:
print ("La temperatura media este {} ha sido de {:2.1f}ºC.".format(estacion, temperatura_media))

La temperatura media este verano ha sido de 39.4ºC.